.book-card {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    margin: 10px 0;
    background: white;
    border-radius: 10px;
    border: 1px solid transparent;
    padding:15px;
    box-shadow: 0 8px 6px rgba(0,0,0,0.04),
                0 16px 12px rgba(0,0,0,0.04), 
                0 32px 24px rgba(0,0,0,0.04);
    transition: border-color .3s ease;
}

.isbn-container small {
    font-size: .6em;
    font-weight: 900;
    color: rgba(220, 20, 60, .5)
}

.isbn-container span { 
    font-size: 1.1em;
}

.book-card:hover {
    border-color:rgba(192, 46, 75, .5)
}

.book-cover {
    height: 80px;
}

.title {
    font-weight: 600;
}

.btn.btn-outline-primary {
    border-color: rgba(192, 46, 75, .5) !important;
    color:rgba(192, 46, 75) !important;
}

.btn.btn-outline-primary:hover {
    background: rgba(192, 46, 75) !important;
    color: white !important;
}