@import '../../../styles/variables.css';

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1};
}

.book-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    border: 1px solid var(--quase-branco);
    animation-name: fade-in; 
    animation-duration: .5s;
    animation-timing-function: ease;
    transition: box-shadow .3s ease;
}

.book-card:hover {
    box-shadow: 0 8px 6px rgba(0,0,0,0.04),
                0 16px 12px rgba(0,0,0,0.04), 
                0 32px 24px rgba(0,0,0,0.04);
}

.book-info {
    padding:10px;
}

.book-cover-container {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid var(--quase-branco);
}

.book-cover {
    height: 100%;
}

.isbn-container small {
    font-size: .5em;
    font-weight: 900;
    color: rgba(220, 20, 60, .5)
}

.isbn-container span { 
    font-size: 0.8em;
}

.title {
    font-weight: 600;
}

.author {
    font-size: 0.9em;
}

.btn.btn-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--main-color-dark);
}

.btn.btn-link:hover {
    color: var(--main-color-dark);
}

.btn.btn-outline-primary {
    border-color: var(--main-color-darker) !important;
    color: var(--main-color-dark) !important;
}

.btn.btn-outline-primary:hover {
    background: var(--main-color-dark) !important;
    color: white !important;
}

