:root {
    --main-color:#FA8072;
    --main-color-darker: rgba(192, 46, 75, .5);
    --main-color-dark: rgba(192, 46, 75);
    
    --background-color:#f6f6f6;
    --text-color:#1c1c1c;

    --quase-branco: #e0e0e0;

    
}
